/*------------------------------------*\
    #Config
\*------------------------------------*/
$max-container-width: 1024px !default;

$background-color: #fff !default;
$brand-primary: #FF3300 !default;
$brand-secondary: #000 !default;

$color-danger: #dd4949 !default;
$color-warning: #f88617 !default;
$color-success: #73b47d !default;
$color-dark-gray: #3b3938 !default;
$color-light-gray: #919191 !default;

$font-primary: 'baseonebold', Arial, sans-serif !default;
$font-secondary: Arial, sans-serif !default;
