/*------------------------------------*\
    #Sections
\*------------------------------------*/

.section {
  padding: 100px 0;

  &--light {
    background: #fff;

    .section__title {
      color: #000;
    }
  }
}

.section-presentation {

}

.section-intention {
  padding-bottom: 0;

  background: url('../img/scenario.jpg') right bottom no-repeat;
}


.section-jason {
  padding: 150px;
  background: url('../img/jason.jpg') center fixed;
  background-size: cover;

  .col-md-6 .headlines {
    max-width: 400px;
    color: #8099AA;
  }
}