/*------------------------------------*\
    #Trailer
\*------------------------------------*/

.trailer {
  display: flex;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;

  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;

    svg {
      width: 30px;
      fill: white;
      opacity: 0.5;
    }

    #paths {
      transform-origin: 50% 50% 0px;
      transition: all .3s ease;
    }

    &:hover {
      svg {
        opacity: 1;
      }

      #paths {
        transform: rotate(180deg);
      }
    }
  }

  &__wrapper {
    max-width: 800px;
    flex: 1;
  }
}