/*------------------------------------*\
    #Buttons
\*------------------------------------*/

.button {
  display: inline-block;
  padding: 1rem 3rem;
  background: none;
  border: 2px solid $brand-primary;
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: 4px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.7);
  transition: all .3s ease;

  &:hover {
    color: $brand-primary;
    background: #fff;
  }
}