/*------------------------------------*\
    #Buttons
\*------------------------------------*/

.button {
  display: inline-block;
  padding: 1rem 3rem;
  background: none;
  border: 3px solid #FFFFFF;
  color: $brand-primary;
  font-size: 1.7rem;
  letter-spacing: 4px;
}