/*------------------------------------*\
    #Buttons
\*------------------------------------*/

.button {
  display: inline-block;
  padding: 1.3rem 3rem;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 25px;
  background: $brand-primary;
  border: none;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 1px;
  box-shadow: 0 0 7px $brand-primary;
  transition: all .3s ease;


  &__arrow {
    width: 6rem;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;

    &::after {
      content: '';
      display: inline-block;
      margin-top: 11px;
      margin-left: 12px;
      width: 0;
      height: 0;
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
      border-left: 12px solid white;
      transition: all .3s ease;
    }
  }

  &--icon {
    padding-left: 7.5rem;
  }

  &__text {
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      border-right: 1px solid rgba(#fff, 0.4);
      margin-left: -1.5rem;
    }
  }

  &:hover {
    .button__arrow::after {
      animation: arrow-keyframe ease .3s;
    }
  }

  &:focus,
  &:active {
    outline: none;
  }
}


@keyframes arrow-keyframe {
  0% {transform: translateX(0)}
  49.9% {transform: translateX(40px)}
  50% {transform: translateX(-40px)}
  100% {transform: translateX(0)}
}